/*
 * Kebo Social - Share Links Styles
 */

/*
 * Import Modules
 */
@import "fonts/zocial";
@import "misc/mixins";

/*
 * Social Color Variables
 */
@import "misc/social-colors";

/*
 * Share Links
 */

/*
 * General Styles
 */
.ksharelinks {
        clear: both;
        margin: 0;
        padding: 1em 0;
        overflow: hidden;
}
.ksharelinks .kintro {
        float: left;
        margin: 0 0.5em 0 0;
        line-height: 1.6em;
}
.ksharelinks ul {
        list-style: none;
        margin: 0;
        padding: 0;
}
.ksharelinks ul li {
        float: left;
        margin: 0 0.5em 0.5em 0;
}
.ksharelinks ul li:last-of-type {
        margin: 0;
}
.ksharelinks ul li .klink {
        display: block;
}
.ksharelinks ul li .klink i {
        color: #fff;
}
.ksharelinks ul li .kicon,
.ksharelinks ul li .kname,
.ksharelinks ul li .kcount {
        display: block;
        float: left;
        padding: 0 0.2em;
}

/*
 * Import Default Theme
 */
@import "sharelinks/default";

/*
 * Import Flat Theme
 */
@import "sharelinks/flat";

/*
 * Import Gradient Theme
 */
@import "sharelinks/gradient";