/*
 * Kebo Social - Share Links Styles
 */

/*
 * Import Modules
 */
@import "fonts/zocial";
@import "misc/mixins";

/*
 * Social Color Variables
 */
@import "misc/social-colors";

/*
 * Size Variables
 */
$xsmall: 10px;
$small: 12px;
$medium: 14px;
$large: 16px;
$xlarge: 18px;

/*
 * Add Common Styles
 */

/*
 * General
 */
.ksharelinks {
        overflow: hidden;
}

/*
 * Sizes
 */
.ksharelinks.xsmall {
        font-size: $xsmall;
}
.ksharelinks.xsmall .klink .kicon {
        font-size: $xsmall + 1px;
}
.ksharelinks.small {
        font-size: $small;
}
.ksharelinks.small .klink .kicon {
        font-size: $small + 1px;
}
.ksharelinks.medium {
        font-size: $medium;
}
.ksharelinks.medium .klink .kicon {
        font-size: $medium + 2px;
}
.ksharelinks.large {
        font-size: $large;
}
.ksharelinks.large .klink .kicon {
        font-size: $large + 2px;
}
.ksharelinks.xlarge {
        font-size: $xlarge;
}
.ksharelinks.xlarge .klink .kicon {
        font-size: $xlarge + 2px;
}

/*
 * Floating Bar
 */
.entry-content {
        position: relative;
}
.kfloating {
        position: fixed;
        top: 20%;
        left: 0;
}
.kfloating .ksharelinks {
        padding: 0;
}
.kfloating .kintro {
        display: none;
}
.kfloating.kcontainer .ksharelinks ul li {
        clear: both;
        margin: 0;
}
.kfloating.kcontainer .ksharelinks ul li:last-of-type {
        margin: 0;
}
.kfloating.kcontainer .ksharelinks .klink {
        
}
.kfloating.kcontainer .ksharelinks .klink .kname {
        display: none;
}
.kfloating.kcontainer .ksharelinks .kcount {
        margin: 0.6em 0 0 0;
        clear: both;
}

/*
 * Include all Themes
 */

/*
 * Import Plain Theme
 */
@import "sharelinks/plain";

/*
 * Import Default Theme
 */
@import "sharelinks/default";

/*
 * Import Flat Theme
 */
@import "sharelinks/flat";

/*
 * Import Gradient Theme
 */
@import "sharelinks/gradient";