/*
 * Kebo Social - Share Links Styles
 */

/*
 * Import Modules
 */
@import "fonts/zocial";
@import "misc/mixins";
@import "../../../../../assets/sass/misc/mixins";

/*
 * Social Color Variables 
 */
@import "../../../../../assets/sass/misc/social-colors";

/*
 * General Variables
 */
$font-size-xs: 10px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-xl: 18px;

$link-color: #111;
$link-hover-color: #333;

$btn-link-disabled-color: #666;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;

$padding-medium-vertical: 6px !default;
$padding-medium-horizontal: 16px !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;

$padding-xl-vertical: 10px !default;
$padding-xl-horizontal: 16px !default;

$line-height-xs: 1.8 !default;
$line-height-small: 1.5 !default;
$line-height-base: 1.428571429 !default;
$line-height-large: 1.33 !default;
$line-height-xl: 1.2 !default;


$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;

$btn-font-weight: normal !default; 

/*
 * Size Variables
 */
$xsmall: 10px;
$small: 12px;
$medium: 14px;
$large: 16px;
$xlarge: 18px;

/*
 * Add Common Styles
 */

/*
 * General
 */
.ksharelinks {
        overflow: hidden;
}
.ksharelinks *:before,
.ksharelinks *:after {
        @include box-sizing();
}

/*
 * Sizes
 */
.ksharelinks.xsmall {
        font-size: $xsmall;
}
.ksharelinks.xsmall .klink .kicon {
        font-size: $xsmall + 1px;
}
.ksharelinks.small {
        font-size: $small;
}
.ksharelinks.small .klink .kicon {
        font-size: $small + 1px;
}
.ksharelinks.medium {
        font-size: $medium;
}
.ksharelinks.medium .klink .kicon {
        font-size: $medium + 1px;
}
.ksharelinks.large {
        font-size: $large;
}
.ksharelinks.large .klink .kicon {
        font-size: $large + 2px;
}
.ksharelinks.xlarge {
        font-size: $xlarge;
}
.ksharelinks.xlarge .klink .kicon {
        font-size: $xlarge + 2px;
}

/*
 * Floating Bar
 */

.kfloating {
        position: fixed;
        bottom: 0;
        left: 0;
        padding: 0;
        margin: 0;
        width: 100%;
        height: auto;
        z-index: 150;
}
.kfloating .ksharelinks {
        padding: 0;
}
.kfloating .kintro {
        display: none;
}
.kfloating .ksharelinks ul {
        text-align: center;
}
.kfloating .ksharelinks ul li {
        clear: none;
        display: inline-block;
        vertical-align: middle;
        width: auto;
        margin: 0.6em 0;
}
.kfloating .ksharelinks .kname {
        display: none;
}
.kfloating .ksharelinks .kcount {
        display: none;
}

/*
 * Include all Themes
 */

/*
 * Import Plain Theme
 */
@import "themes/plain";

/*
 * Import Gradient Theme
 */
@import "themes/gradient";