/*
 * Social Service Colors
 */

$email: #bbb;
$buffer: #444;
$digg: #164673;
$dribbble: #ea4c89;
$delicious: #0B79E5;
$facebook: #3b5998;
$twitter: #00aced;
$googleplus: #dd4b39;
$linkedin: #007bb6;
$pinterest: #cb2027;
$youtube: #bb0000;
$instagram: #517fa4;
$flickr: #ff0084;
$foursquare: #44a8e0;
$rss: #ffcc00;
$steam: #000000;
$stumbleupon: #eb4924;
$tumblr: #2C4762;
$reddit: #75B0EB;