/*
 * Custom Mixins
 */

/*
 * Long Shadows
 */
@function makelongshadow($color) {
    $val: 0px 0px $color;
    @for $i from 1 through 200 {
        $val: #{$val}, #{$i}px #{$i}px #{$color};
    }
    @return $val;
}

@mixin longshadow($color) {
    text-shadow: makelongshadow($color);
}

/*
 * Gradient - Single Color
 */
@mixin gradient-single( $from: #fff ) {
    
    /* fallback/image non-cover color */
    background-color: $from;
    
    $to: darken($from, 10%);
    
    /* Firefox 3.6+ */
    background-image: -moz-linear-gradient($from, $to);
    
    /* Safari 4+, Chrome 1+ */
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($from), to($to));
    
    /* Safari 5.1+, Chrome 10+ */
    background-image: -webkit-linear-gradient($from, $to);
    
    /* Opera 11.10+ */
    background: -o-linear-gradient($from, $to);
    
    /* IE10+ */
    background: -ms-linear-gradient(top, $from, $to 100%);
    
    /* W3C */
    background: linear-gradient(top, $from, $to 100%);
    
    /* IE 6-9 */
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}');
    
}

@mixin left-box-arrow( $color, $size, $top-offset, $left-offset ) {
    
    position: relative;
    
    &:before {
        border-color: rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        border-image: none;
        border-style: inset solid inset inset;
        border-width: $size - 1px;
        top: $top-offset;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        left: $left-offset + 2px;
        width: 0;
        z-index: 99;
    }
    
    &:after {
        border-color: rgba(0, 0, 0, 0) #bbbbbb rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
        border-image: none;
        border-style: inset solid inset inset;
        border-width: $size;
        top: $top-offset - 1px;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        left: $left-offset;
        width: 0;
        z-index: 98;
    }
}

@mixin top-box-arrow( $color, $size, $left-offset, $top-offset ) {
    
    position: relative;
    
    &:before {
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #ffffff rgba(0, 0, 0, 0);
        border-image: none;
        border-style: inset inset solid inset;
        border-width: $size - 1px;
        left: $left-offset;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: $top-offset + 2px;
        width: 0;
        z-index: 99;
    }
    
    &:after {
        border-color: rgba(0, 0, 0, 0) rgba(0, 0, 0, 0) #bbbbbb rgba(0, 0, 0, 0);
        border-image: none;
        border-style: inset inset solid inset;
        border-width: $size;
        left: $left-offset - 1px;
        content: "";
        display: block;
        height: 0;
        position: absolute;
        top: $top-offset;
        width: 0;
        z-index: 98;
    }
}

@mixin button-count( $color, $background, $border ) {
    color: $color;
    background-color: $background;
    border-color: $border;
    min-width: none;
}

@mixin button-variant( $color, $background, $border ) {
    
    color: $color;
    background-color: $background;
    border-color: $border;

    &:hover,
    &:focus,
    &:active,
    &.active {
      color: $color;
      background-color: darken( $background, 10% );
          border-color: darken( $border, 12% );
    }

    &:active,
    &.active {
      background-image: none;
    }
    
}

@mixin button-size( $padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius ) {
    padding: $padding-vertical $padding-horizontal;
    font-size: $font-size;
    line-height: $line-height;
    border-radius: $border-radius;
}