/*
 * Custom Variables
 */

/*
 * General Variables
 */
$font-size-xs: 10px;
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-xl: 18px;

$link-color: #111;
$link-hover-color: #333;

$btn-link-disabled-color: #666;

$padding-base-vertical: 6px !default;
$padding-base-horizontal: 12px !default;

$padding-xs-vertical: 1px !default;
$padding-xs-horizontal: 5px !default;

$padding-small-vertical: 5px !default;
$padding-small-horizontal: 10px !default;

$padding-medium-vertical: 6px !default;
$padding-medium-horizontal: 16px !default;

$padding-large-vertical: 10px !default;
$padding-large-horizontal: 16px !default;

$padding-xl-vertical: 10px !default;
$padding-xl-horizontal: 16px !default;

$line-height-xs: 1.8 !default;
$line-height-small: 1.5 !default;
$line-height-base: 1.428571429 !default;
$line-height-large: 1.33 !default;
$line-height-xl: 1.2 !default;


$border-radius-base: 4px !default;
$border-radius-large: 6px !default;
$border-radius-small: 3px !default;

$btn-font-weight: normal !default; 

/*
 * Size Variables
 */
$xsmall: 10px;
$small: 12px;
$medium: 14px;
$large: 16px;
$xlarge: 18px;